<div class="grid-auto">
  {{- partial "sidebar" . }}
  <main class="content">
    <h1>{{ .Title }}</h1>
    {{- .Content }}
    {{ partial "pager" . }}
  </main>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var activeTocLink = document.querySelector('.section_link.active');
    if(!activeTocLink) {
      activeTocLink = document.querySelector('.section_title.active');
    }
    if (activeTocLink) {
      activeTocLink.scrollIntoView({ behavior: 'smooth', block: 'center' });
    }
  });
</script>
