{{- $src := .Get 0 }}
{{- $loop := .Get 1 }}
{{- $mute := .Get 2 }}
{{- $autoplay := .Get 3 }}
{{- $controls := .Get 4 }}
{{- $alt := .Get 5 }}
{{- $class := .Get 6 }}
{{- $style := .Get 7 -}}
<video src="{{ printf "%s%s" .Site.BaseURL $src }}" {{ with $alt }} alt="{{ . }}" title="{{ . }}"{{ end }} {{ with $class }} class="{{ . }}"{{ end }} {{ with $style }} style="{{ . }}"{{ end }} {{ if eq $loop "true" }} loop{{ end }} {{ if eq $mute "true" }} muted{{ end }} {{ if eq $autoplay "true" }} autoplay{{ end }} {{ if eq $controls "true" }} controls{{ end }}></video>
